/* Main elements */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex: 0 0 auto;
    width: 90%;
}

main {
    flex: 1 0 auto;
    margin: auto;
    max-width: 625px;
    padding: 0.5rem;
}

.hidden {
    display: none;
}

/* Header content */
header {
    display: inline-flex;
    justify-content: space-between;
    padding: 2rem;
}

a {
    color: black
}

/* Main text elements */
main section h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

main section h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

main section p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

/* Starting page */
main #startingBox #startButton {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* Quiz page */
main #quizBox #answers button {
    margin: 0.1rem;
}

main #quizBox #result {
    font-weight: 600;
}

/* Submit score page */
main #submitScoreBox #scoreDisplay {
    font-weight: 600;
}

main #submitScoreBox #initialsInput {
    margin-right: 1rem;
    border: 0px;
    border-bottom: 1px solid black;
    padding: 0 0.5rem;
    text-align: center;
    width: 5rem;
}

main #submitScoreBox #initialsInput:focus {
    border-bottom: 2px solid #0f92fd;
    outline: none;
}

/* High scores page */
main #highScoresPage #highScoreList div {
    padding: 0.2rem 0.5rem;
}

main #highScoresPage #highScoreList div:nth-child(odd) {
    background-color: rgba(31, 74, 109, 0.25);
}

main #highScoresPage #highScoreList div:nth-child(even) {
    background-color: rgba(31, 74, 109, 0.1);
}

/* Buttons */
button {
    background-color: #1f4a6d;
    color: white;
    padding: 0.5rem 0.75rem;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}